body {
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 30px;
}

.buttons, .scores, .versus {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.scores {
    gap: 50px;
}